@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Montserrat:ital,wght@0,700;0,900;1,700&family=Source+Code+Pro:wght@300&display=swap');
.button{
    color: white;
    background-color: black;
    width: 70px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.input{
    border-width: 5px;
    border-style: double;
    text-align: center;
    width: 232px;
}